.categorias {
  display: flex;
  flex-direction: column;
  width: 15%;
}

.home {
  display: flex;
  flex-direction: row;
}

.product-detailed {
  display: flex;
  flex-direction: column;
}

.product-detailed img {
  width: 200px;
}
